<% content_for :javascripts do %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDJRpYkroNcRS0twrySMIw_FZUDmSvh6u4&sensor=false' %>
  <%= javascript_tag do %>
    $(function() {
      var styles = [
      {
        "stylers": <%=raw @map_stylers.to_json %>
      }
      ];

      var mapOptions = {
        center: new google.maps.LatLng(<%= @map_centre.join(",") %>),
        zoom: <%= @zoom_level %>,
        disableDefaultUI: true,
        zoomControl: true,
        zoomControlOptions: {
          style: google.maps.ZoomControlStyle.SMALL
        },
        panControl: true,
        panControlOptions: {
          position: google.maps.ControlPosition.TOP_RIGHT
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
      map.setOptions({styles: styles});


      var iw = new google.maps.InfoWindow();

      <% @map_pins.each_with_index do |pin, i| %>
        var pin<%=i%> = new google.maps.Marker({
          position: new google.maps.LatLng(<%= pin[:location].join(",") %>),
          title: '<%= escape_javascript pin[:name] %>',
          map: map,
          icon: '<%= escape_javascript pin[:icon] %>'
        });
        google.maps.event.addListener(pin<%=i%>, 'click', function() {
          iw.setOptions({content: '<%= escape_javascript pin[:name] %>'});
          iw.open(map,pin<%=i%>);
        });
      <% end %>
    });
  <% end %>
<% end %>
<div id="map_canvas"></div>
<%= @map_centre %>