<script>
    var notes_coming = "<%= t 'guests.notes_coming' %>";
    var notes = "<%= t 'guests.notes' %>";
</script>

<div class="container guest_rsvp_form">
  <%= t('guests.hello_html', :name => @guest.fname) %>
  <%= form_for @guest, :url => guests_update_path(@guest.rsvp_code) do |f| %>
    <div class="are_you_coming">
      <p class="question"><%= t 'guests.are_you_coming_html' %></p>
      <% [ ['guests.coming',+1], ['guests.not_coming',-1] ].each do |x| %>
        <%= label_tag "status#{x[1]}", :class=> "radio" do %>
            <%= radio_button_tag 'guest[status]', x[1], @guest.status == x[1], :id => "status#{x[1]}" %>
            <%= t x[0] %>
        <% end %>
      <% end %>
    </div>

    <div class="custom_questions">
      <% @custom_questions.each do |q| %>
        <div class="custom_question <%= 'missing_answer' if session[:missing_data].try {|d| d.include? q[:key] } %>" id="question_<%= q[:key] %>">
          <p class="question"><%=raw q[:question_text] %></p>
          <%=raw q[:before] %>
          <% i = 0 %>
          <% q[:options].each do |opt| %>
            <% i += 1 %>
            <%= label_tag "#{q[:key]}_#{i}", :class=> "radio #{q[:key]}" do %>
                <%= radio_button_tag "data[#{q[:key]}]", opt[:key], @guest.data[q[:key]] == opt[:key], :id => "#{q[:key]}_#{i}" %>
                <span class="desc"><%= opt[:desc] %></span>
            <% end %>
            <%=raw q[:between] unless i==q[:options].length %>
          <% end %>
        </div>

      <% end %>
    </div>

    <div class="notes">
      <p class="question"><%= t 'guests.notes' %></p>
      <%= text_area_tag 'data[notes]', @guest.data[:notes], :rows => 3, :cols => 80 %>
    </div>
    
    <p><%= f.submit t("guests.submit", :name => @guest.fname), :class=>"btn" %></p>

  <% end %>
</div>
