<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : name %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
<div class="row">
  <section id='body_content' class="<%= @page.content_for(:side_body).nil? ? 'span12' : 'span8' %>">
    <%=raw @page.content_for(:body) %>
  </section>
  <% unless @page.content_for(:side_body).nil? %>
    <section id='side_body_content' class="span4">
      <%=raw @page.content_for(:side_body) %>
    </section>
  <% end %>
</div>
<% unless @rsvp_form.nil? %>
<div class="row">
  <section id='rsvp_form' class='span12'>
    <%=render :partial => 'guests/rsvp_form' %>
  </section>
</div>
<% end %>
