<div class="row">
  <section id='body_content' class="<%= @page.content_for(:side_body).nil? ? 'span12' : 'span8' %>">
    <%=raw @page.content_for(:body) %>
  </section>
  <% unless @page.content_for(:side_body).nil? %>
    <section id='side_body_content' class="span4">
      <%=raw @page.content_for(:side_body) %>
    </section>
  <% end %>
</div>
<% unless @rsvp_form.nil? %>
  <div class="row">
    <section id='rsvp_form' class='span12'>
      <%=render :partial => 'guests/rsvp_form' %>
    </section>
  </div>
<% end %>
<% unless @map.nil? %>
  <div class="row">
    <section id='map' class='span12'>
      <%=render :partial => 'guests/map' %>
    </section>
  </div>
<% end %>
