<!DOCTYPE html>
<%= render :partial => '/refinery/html_tag' %>
  <% site_bar = render(:partial => '/refinery/site_bar', :locals => {:head => true}) -%>
  <%= render :partial => '/refinery/head' %>
  <body>
    <div id="wrap">
      <%= site_bar -%>
      <header id="header">
        <%= render :partial => '/refinery/header' -%>
      </header>
      <div class="container" id="content">
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
            <div class="alert alert-<%= name == :notice ? "success" : name %>">
              <a class="close" data-dismiss="alert">&#215;</a>
              <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
            </div>
          <% end %>
        <% end %>
        <%= yield %>
        <div id="push"></div>
      </div>
    </div>
    <footer id="footer">
      <%= render :partial => '/refinery/footer' -%>
    </footer>
    <%= render :partial => '/refinery/javascripts' %>
  </body>
</html>
